{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                    <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                    <div class="form-group-row">
                        <div class="col-3">
                            <input type="submit" class="btn btn-primary btn-block" value="Добавить коментарий"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}